
<div class="container">

  <h1 class="text-primary text-center">Demo Ucateba</h1>

  <h5 class="text-danger text-center">Token Decoder</h5>

  <div class="row justify-content-between">

    <div class="col-12">

      <div class="form-group row mb-1">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="code">{{"Token"}}</span>
          </div>
          <input class="form-control"
                 type="text"
                 aria-label="token"
                 placeholder="{{'Enter token'}}"
                 name="token"
                 [(ngModel)]="jwt.token"
                 required>
          <div class="input-group-prepend">
            <button (click)="decoder()" class="btn btn-primary text-white">Decoder</button>
          </div>
        </div>
      </div>

    </div>

    <h6>Decoded token</h6>

    <div>
      <textarea class="col-12" readonly>{{token_decode|json}}</textarea>
    </div>

  </div>

</div>

